body, html {
    height: 100%;
    margin: 0;
}

.backgroundimage {
    /* height: 100%; */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.jumbotron {
    background-image: url('../src/images/animals.jpg');
    font: black;
}

.lead {
    font: black !important;
}