body, html {
    height: 100%;
    margin: 0;
    font-family: 'Vollkorn', serif;
}

.backgroundimage {
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.jumbotron {
    background-image: url('../src/images/animals.jpg');
    font: black;
}

.lead {
    font: black !important;
}

a:link, a:visited {
    color: rgba(168, 61, 61, 0.89);
  }

a:hover {
    color: rgba(70, 69, 69, 0.829);
    text-decoration: none;
}

.createaccount {
    margin-top: 10px;
    float: right;
}
