#navtext {
    display: inline;
    word-spacing: 100px;
    letter-spacing: 20px;
}
.btn-outline-primary{
    border:0px black;
}

li{
    padding-right: 10px;
  }

.scrolled{
      position:fixed
}

.nav{
    transition:0.25s;
  }

.nav_text{
    transition:0.25s
}
 